<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
      </ion-buttons>
    <ion-title>Trip Planner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div #map id="map"></div>
  

    <ion-list>
      <ion-item>
        <ion-label>From:</ion-label>
        <ion-input [(ngModel)]="startInput" type="text" placeholder="Destination A"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>To:</ion-label>
        <ion-input [(ngModel)]="endInput" type="text" placeholder="Destination B"></ion-input>
      </ion-item>

      <ion-button class="ion-padding-horizontal" expand="block" type="submit" (click)="calculateAndDisplayRoute()">GET DIRECTION</ion-button>
    </ion-list>

  <div #bottomPanel id="bottomPanel"></div>


</ion-content>

<ion-footer padding>
  <ion-button expand="block" (click)="saveDestinationOnline()">SAVE</ion-button>

</ion-footer>
