<ion-header>
  <ion-toolbar>
    <ion-title>
      PROFILE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button expand="block">Change Password</ion-button>
  <br>
  <ion-button expand="block">Delete Account</ion-button> -->

  <ion-list>
    <ion-item>
      <ion-label *ngIf="email != ''">Email: {{email}}</ion-label>
      <ion-label *ngIf="email == ''">Email: Not Signed In</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>NickName: {{nickname}}</ion-label>
      <ion-button slot="end" color="natureGreen" (click)="updateNickname()">
        <ion-icon name="create"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-button *ngIf="email != ''" expand="block" color="danger" (click)="logOut()">SIGNOUT</ion-button>
  <ion-button *ngIf="email == ''" expand="block" color="natureGreen" (click)="regist()">REGISTER</ion-button>

</ion-content>
