<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="delete()">
        <ion-icon color="danger" name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
    <div #map id="map"></div>
    
  
      <ion-list>
        <ion-item>
          <ion-label>Start:</ion-label>
          <ion-input [(ngModel)]="startInput" type="text"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label>End:</ion-label>
          <ion-input [(ngModel)]="endInput" type="text" placeholder="Destination B"></ion-input>
        </ion-item>
      </ion-list>
  
    <div #bottomPanel id="bottomPanel"></div>
  
  
  </ion-content>
  
  <ion-footer padding>
    <ion-button expand="block" (click)="saveEdit()">SAVE</ion-button>
  </ion-footer>