<ion-header>
  <ion-toolbar>
    <ion-title>
      MY PLANNER
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button expand="block" (click)="gotoPage()">Create a new Trip</ion-button>
  <br/>

  <ion-card button *ngFor="let plan of plans | async"
  [routerLink]="['/' , 'planner' , plan.id || 0]">

    <img src="assets/IMG_0553.jpeg">
    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>{{ plan.title }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{ plan.description | slice:0:150 }}
    </ion-card-content>
  </ion-card>

  <!-- <ion-list>
    <ion-item button *ngFor="let plan of plans | async" text-wrap
    [routerLink]="['/' , 'planner' , plan.id || 0]">
      <ion-label text-wrap>
        <ion-text color="primary">
          <h3>{{ plan.title }}</h3>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list> -->

</ion-content>
