<ion-header>
  <ion-toolbar>
    <ion-title>
      DISCOVER
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- <ion-searchbar [(ngModel)]="searchText" showCancelButton="focus"></ion-searchbar> -->

  <ion-card *ngFor="let plan of plans | async" class="bgWhite">
    <ng-container *ngIf="plan?.isShown == true">
      <ion-card-header button [routerLink]="['/' , 'planner' , plan?.id || 0]">
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>{{ plan?.title }}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content button [routerLink]="['/' , 'tab2description' , plan.id || 0]">
        <ion-text color="primary">Read description</ion-text>
        <br>
        <ion-icon class="icon" name="eye"></ion-icon>
        <ion-text class="text">{{ plan?.viewCount.length }}</ion-text>
      </ion-card-content>
    </ng-container>
  </ion-card>
    
</ion-content>
