<ion-header>
  <ion-toolbar>
    <ion-title>
      DISCOVER
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-toolbar>
      <ion-searchbar showCancelButton="focus"></ion-searchbar>
  </ion-toolbar>
  <br>

  <ion-card *ngFor="let plan of plans | async">
    <ng-container *ngIf="(plan | async)?.isShown == true">
      <ion-card-header button [routerLink]="['/' , 'planner' , (plan | async)?.id || 0]">
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>{{ (plan | async)?.title }}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content button [routerLink]="['/' , 'tab2description' , plan.id || 0]">
        <ion-text color="primary">Read description</ion-text>
        <br>
        <ion-icon name="eye"></ion-icon>
        <ion-text>{{ (plan | async)?.viewCount.length }}</ion-text>
      </ion-card-content>
    </ng-container>
  </ion-card>
    

</ion-content>
