<ion-header>
  <ion-toolbar>
    <ion-title>
      OFFLINE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-button color="natureGreen" expand="block" (click)="gotoPage()">Create an Offline Trip</ion-button>
    <br>
    <ion-card *ngFor="let " class="bgWhite">
        <ion-card-header button [routerLink]="">
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>{{ trip.name }}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content button [routerLink]="">
          <ion-text color="primary">Read description</ion-text>
        </ion-card-content>
      </ion-card> -->

  <div class="map" id='mapbox'></div>
  
</ion-content>


