<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
      </ion-buttons>
    <ion-title>Create Plan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Title: </ion-label>
      <ion-input placeholder="Plan name" [(ngModel)]="title"></ion-input>
    </ion-item>

    <ion-item (click)="showPicker()">
      <ion-label>Tag:</ion-label>
      <ion-label>{{countryName}}</ion-label>
      <ion-button slot="end" fill="clear" >
        <ion-icon name="arrow-dropdown-circle"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label>Description:</ion-label>
      <ion-textarea auto-grow="true" placeholder="Enter Description here" [(ngModel)]="description"></ion-textarea>
    </ion-item>
  </ion-list>

  

</ion-content>

<ion-footer padding>
  <ion-toolbar>
    <ion-button expand="block" (click)="createPlan()">CREATE</ion-button>
  </ion-toolbar>
</ion-footer>
